<div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-bordered mt-4">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Channel</th>
                            <th>Seasons</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (serie of series; track serie.name) {
                            <tr>
                                <td>{{serie.id}}</td>
                                <td><a href={{serie.webpage}} > {{serie.name}} </a> </td>
                                <td>{{serie.channel}}</td>
                                <td>{{serie.seasons}}</td>
                            </tr>
                            }
                    </tbody>
                </table>
                <p> Seasons average: {{getPromedioSeasons()}}
                </p>
                <!--<p>Number of series: {{ series.length }}</p>-->
            </div>
            <div class="col">
                <div class="card d-none mt-4" id="info_serie" style="width: 18rem;" > <!--d-none causa que sea invisible-->
                    <img class="card-img-top" id="serie_imagen" src="" alt="Portada de la serie" >
                    <div class="card-body">
                        <h5 class="card-title" id="serie_titulo"> </h5>
                        <p class="card-text" id="serie_descripcion"> </p>
                        <a id="serie_link" href="#" class="card-link link-primary" target="_blank"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>